//----------------------------------------------------
// Module: Button
//----------------------------------------------------

//----------------------------------------------------
// / Set Modifier
//----------------------------------------------------

.btns {
  display: flex;
  flex-wrap: wrap;
  &:not(.is-bar) {
    margin-left: (-1 * $btns-gap-default);
    margin-bottom: (-1 * $btns-gap-default);
  }
  &:not(.is-bar) > .btns,
  &:not(.is-bar) > .btn {
    margin-left: $btns-gap-default;
    margin-bottom: $btns-gap-default;
  }
  > .btns {
    display: inline-flex;
  }
  &.is-middle {
    align-items: center;
  }
  &.is-bottom {
    align-items: flex-end;
  }
  &.is-center {
    justify-content: center;
  }
  &.is-right {
    justify-content: flex-end;
  }
  &.is-between {
    justify-content: space-between;
  }
  &.is-around {
    justify-content: space-around;
  }
}

//----------------------------------------------------
// / Set Bar
//----------------------------------------------------

.btns.is-bar,
.field.is-bar {
  flex-wrap: nowrap;
  > .btn {
    border-radius: 0;
    overflow: hidden;
  }
  > .btn:not(.is-round):first-child {
    border-top-left-radius: $btn-border-radius;
    border-bottom-left-radius: $btn-border-radius;
  }
  > .btn:not(.is-round):last-child {
    border-top-right-radius: $btn-border-radius;
    border-bottom-right-radius: $btn-border-radius;
  }
  > .btn.is-round:first-child {
    border-top-left-radius: $btn-round-border-radius;
    border-bottom-left-radius: $btn-round-border-radius;
  }
  > .btn.is-round:last-child {
    border-top-right-radius: $btn-round-border-radius;
    border-bottom-right-radius: $btn-round-border-radius;
  }
  > .btn:nth-child(2),
  > .btn:nth-child(2) ~ .btn {
    border-left: none;
  }
}

//----------------------------------------------------
// / Import Common
//----------------------------------------------------

@import "button/common/_default.scss";
@import "button/common/_round.scss";
@import "button/common/_circle.scss";
@import "button/common/_floating.scss";

//----------------------------------------------------
// / Plain
//----------------------------------------------------

@import "button/plain/_default.scss";
@import "button/plain/_primary.scss";
@import "button/plain/_info.scss";
@import "button/plain/_success.scss";
@import "button/plain/_warning.scss";
@import "button/plain/_danger.scss";

//----------------------------------------------------
// / Melt
//----------------------------------------------------

@import "button/melt/_default.scss";
@import "button/melt/_primary.scss";
@import "button/melt/_info.scss";
@import "button/melt/_success.scss";
@import "button/melt/_warning.scss";
@import "button/melt/_danger.scss";

//----------------------------------------------------
// / Outline
//----------------------------------------------------

@import "button/outline/_default.scss";
@import "button/outline/_primary.scss";
@import "button/outline/_info.scss";
@import "button/outline/_success.scss";
@import "button/outline/_warning.scss";
@import "button/outline/_danger.scss";

//----------------------------------------------------
// / Ghost
//----------------------------------------------------

@import "button/ghost/_default.scss";
@import "button/ghost/_primary.scss";
@import "button/ghost/_info.scss";
@import "button/ghost/_success.scss";
@import "button/ghost/_warning.scss";
@import "button/ghost/_danger.scss";
