//----------------------------------------------------
// / Export Button / Outline - Disable
//----------------------------------------------------

.btn.is-outline {
  &.is-disable,
  &[disabled] {
    cursor: default;
  }
  &.is-disable,
  &.is-disable:hover,
  &[disabled],
  &[disabled]:hover {
    background-color: $btn-disable-background-color-alpha;
    border-width: $btn-border-width;
    border-style: solid;
    border-color: $btn-outline-default-border-color;
    color: $btn-disable-text-color;
  }
}
